# Node.js
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
package-lock.json
yarn.lock
.env
.env.local
.env.*.local

# Vercel build
.vercel/

# React Native / Android
android/app/build/
android/.gradle/
android/build/
*.keystore
*.iml
.idea/
.expo/
.expo-shared/
*.log
*.orig

# iOS
ios/Pods/
ios/build/
*.xcworkspace
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
*.DS_Store

# Misc
.vscode/
.DS_Store
